.main {
    border:1px solid black;
    max-width: 320px;
}
.information {
    font-style: italic;
}
.description {
    border: 1px solid black;
}
span {
    font-weight: bold;
}
ul {
  list-style-type: none;
}
img {
    max-width: 300px;

}

