.b1{
    border:1px solid black;
}
.p1{
    font-style: italic;
}
.description{
    border:1px solid black;
}
span{
    font-weight: bold;
}
ul {
  list-style-type: none;
}
img{
    max-width: 300px;

}

